.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.container span {
  margin: 2em 0 5px 0;
  color: #023047;
}

.container input {
  padding: .75em;
  width: 20%;
}

.button {
  margin-top: 5em;
  padding: .75em 2em .75em 2em;
  border-radius: 25px;
  background-color: #ffbf69;
  border: 1px solid #023047;
  transition: 0.2s ease;
}

.button:hover {
  transform: scale(1.1);
}

.incorrectpopup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.incorrectpopup  p {
  color: red;
}

@media (max-width: 600px) {
  .container input {
    width: 90%;
  }
}