.nav {
  height: 50px;
  background: #212529;
  color: #fff;
  font-size: 14px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  height: 100%;
  margin: 0;
}

.nav ul li:hover {
  color: #a5a9ad;
}

.nav ul li:not(.loginbtn) {
  display: flex;
  height: 70%;
  align-items: center;
  border-right: 1px solid white;
}

.nav ul li a {
  padding: 0 2rem 0 2rem;
}

.loginbtn {
  display: flex;
  align-items: center;
  padding: 0 1rem 0 2rem;
  height: 70%;
  margin-left: auto;
}

.dropdown {
  display: block;
  position: absolute;
  right: 0;
  top: 50px;
}

.dropdownitem {
  background: #212529;
  padding: 1em 1.5em 1em 1.5em;
  transition: .3s;
}

.dropdownitem:hover {
  background-color: #595c5f;
}

@media (max-width: 600px) {
  .nav {
    font-size: 11px;
  }
  .nav ul li a,
  .loginbtn {
    padding: 0 1rem 0 1rem;
  }
}