.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3rem auto 1rem auto;
  width: 20%;
}

.container label {
  display: flex;
  color: #023047;
  font-size: 0.9em;
  margin-left: 5px;
  width: 100%;
}

.container input {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 auto 1rem auto;
  width: 100%;
}

.btncontainer {
  display: flex;
  flex-direction: space-evenly;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.btncontainer button {
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 25px;
  margin: 0 auto 0 auto;
  border: 1px solid #023047;
  transition: 0.2s ease;
}

.btncontainer button:enabled {
  background-color: #ffbf69;
}

.btncontainer button:enabled:hover {
  transform: scale(1.05);
}

.incorrectpopup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.incorrectpopup  p {
  color: red;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}