.container {
  display: flex;
  width: 90%;
  margin: 4em auto 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.container p:not(:last-child) {
  overflow: hidden;
  text-overflow: ellipsis;
}

.container div p {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 0 1rem 0;
}

.name {
  flex-grow: 1;
}

.name p {
  font-weight: bold;
}

.category {
  width: 100%;
}

.category p {
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
}

.count {
  flex-shrink: 1;
  min-width: 15%;
}

.count p {
  text-align: center;
}

.description {
  width: 100%;
}

.fieldlabel {
  font-weight: normal;
  font-style: normal;
  color: indigo;
  font-size: 0.9em;
  margin: 0 0 0 5px;
}

.btncontainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 4rem auto 4rem auto;
}

.btn {
  width: 150px;
  height: 40px;
  box-shadow: 2px 2px 3px #141414;
  border-radius: 5px;
}

.btn:hover:enabled {
  transform: scale(1.1);
  cursor: pointer;
}

.btntext:enabled {
  font-size: 1.2em;
  color: #141414;
}

.editbtn {
  background-color: khaki;
}

.deletebtn {
  background-color: #bf4342;
}

.deletebtn .btntext {
  color: beige;
  text-shadow: 2px 2px #141414;
}

.editfield {
  width: 100%;
  font-size: 1em;
  border: 0;
  font-family: inherit;
}

.editfield:focus {
  outline: none;
}

.newform p:hover,
.editform p:hover {
  border-color: blue;
  box-shadow: 0 0 .2rem cornflowerblue;
}

.infolabel {
  width: 100%;
  text-align: center;
  margin: 0 0 2rem 0;
}

.textarea {
  resize: none;
}

.editcount {
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    font-size: 1rem;
  }
  .name,
  .category,
  .count {
    width: 100%;
  }
  .btncontainer {
    justify-content: space-around;
  }
}