.table {
  padding: 0 0 25vh 0;
  font-size: 14px;
}

.table table,
.table th,
.table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.75em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table table {
  width: 100%;
  table-layout: fixed;
}

.countCol {
  width: 10%;
}

.categoryCol {
  width: 20%;
}

.nameCol {
  width: 20%;
}

.descriptionCol {
  width: 50%;
}

.columnCentered {
  text-align: center;
}

.table tbody tr:nth-child(odd) {
  background-color: #afafaf;
}

.table tbody tr:hover {
  cursor: pointer;
  background-color: aquamarine;
}

@media (max-width: 600px) {
  .table table,
  .table th,
  .table td {
    padding: 10px;
  }
  .countCol {
    width: 20%;
  }
  .categoryCol {
    width: 25%;
  }
  .table table {
    font-size: 10px;
  }
}